<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Спецтехника22</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
    <link rel = "stylesheet" href = "/css/admin.css">
    <link rel = "stylesheet" href = "/css/bootstrap.min.css">
    <!-- Наш файл стилей -->
</head>
<body>
<header id = "header" class = "header">
    <div class = "container">
        <div class = "row">
            <div class="col-lg-3">
                <img src="/images/logo.png" alt="logo" class="logo">
            </div>
            <div class="col-lg-9 ml-auto">
                <nav>
                    <ul class = "menu d-flex justify-content-center">
                        <li class = "menu__item">
                            <a href = "/">
                                Главная
                            </a>
                        </li>
                        <li class = "menu__item">
                            <a href = "#">
                                О компании
                            </a>
                        </li>
                        <li class = "menu__item">
                            <a href = "/spectechnika">
                                Спецтехника
                            </a>
                        </li>
                        <li class = "menu__item">
                            <a href = "#">
                                Прайс-лист
                            </a>
                        </li>
                        <li class = "menu__item">
                            <a href = "#">
                                Фотогалерея
                            </a>
                        </li>
                        <li class = "menu__item">
                            <a href = "#">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<section id = "information" class = "information">
    <div class = "container">
        <form class="form-horizontal" th:object="${car}" th:action="@{/update}" name="edit_form" id="edit_form"
              method="post" role="form" enctype="multipart/form-data">
            <div class="redactor">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="hidden" id="id" th:name="id" th:value="*{id}"/>
                        </div>
                        <div class="form-group">
                            <label for="chooseFile">Выберите изображение</label>
                            <input type="file" class="chooseFile" id="chooseFile" th:name = "imgPath" th:value = "*{imgPath}">
                        </div>
                        <div class="form-group">
                            <label for="name">Наименование</label>
                            <input type="text" class="name" id="name" placeholder="Наименование" th:name = "name" th:value = "*{name}">
                        </div>
                        <div class="form-group">
                            <label for="yearOld">Год выпуска</label>
                            <input type="text" class="yearOld" id="yearOld" placeholder="Год выпуска" th:name = "date" th:value = "*{date}">
                        </div>
                        <div class="form-group">
                            <label for="baza">Колесная база</label>
                            <input type="text" class="baza" id="baza" placeholder="Колесная база" th:name = "baza" th:value = "*{baza}">
                        </div>
                        <div class = "form-row">
                            <div class="form-group col-md-4">
                                <label for="inputState">Надстройка</label>
                                <select id="inputState" class="form-control" th:name = "nadstroika" th:value = "*{nadstroika}">
                                    <option selected>Выберите...</option>
                                    <option th:each="nadstroika : ${nadstroikas}" th:value="${nadstroika.getId()}" th:text="${nadstroika.getName()}">
                                </select>
                            </div>
                        </div>
                        <div class = "form-row">
                            <div class="form-group col-md-4">
                                <label for="inputState">Категория</label>
                                <select class="form-control" th:name = "category" th:value="*{category}">
                                    <option selected>Выберите...</option>
                                    <option th:each="category : ${categorys}" th:value="${category.getId()}" th:text="${category.getName()}">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="typeTechnik" placeholder="Колесная база" th:value="${typeTech.getId()}" th:name = "typeTechnika">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section id = "feedBack" class = "feedBack">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    <h2 class="title__main yellow">
                        Обратная связь
                    </h2>
                    <p class="title__text">
                        По всем интересующим вопросам обращатсья по телефону, или оставьте заявку менеджеру
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 m-auto">
                <form action="#" class="form">
                    <label>
                        <input type="email" placeholder="Введите email" class = "form__input">
                    </label>
                    <button type="submit" class = "form__btn"> ОТПРАВИТЬ</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class = "info_block">
                    <div class="info">
                        ХАУСТОВ ГЕРБЕРТ
                        Группа ПИ-62
                    </div>
                    <img src = "/images/html5.png" class = "html5" alt = "html5">
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>